
        body {
            background-color: darkblue;
        }

        p {
            font-family: Arial;
            font-size: 12px;
        }

        #lumpy {
            display: none;
            color: 12px;
        }
    